# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/kubedepot

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Storeconfigs

/_configs
/dist/
/cmd/kubedepot/kodata/